<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Clash at the Castle</h2>
      <app-navigation></app-navigation>
      <!-- <ul class="nav nav-tabs">

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/left" skipLocationChange="true">Left</a>
        </li>

        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/middle" skipLocationChange="true">Middle</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/right" skipLocationChange="true">Right</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/observable" skipLocationChange="true">Observable</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/" skipLocationChange="true">Contact</a>
        </li>

      </ul> -->

      <div class="row">
        <div class="col-md-10">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-8 ">
          <app-middle></app-middle>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ">
          <app-right></app-right>
        </div>
      </div> 
    </div>
  </div>
</div> -->

<!-- --------------------------------------------Lifecycle Hooks -------------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-warning" (click)="toggle()">Click Me</button>

      <app-lifecycle *ngIf="show" name="name"></app-lifecycle>
      <hr>

      <input [(ngModel)]="name" class="form-control">

      <app-userform></app-userform>

    </div>
  </div>
</div> -->

<!-- -------------------------------Subject Example ----------------------------------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>