<p>_____________________________Subject Component Start _____________________________________</p>
<button class="btn btn-success" >Get it</button>
<h4>Subject component: {{ fromSub }}</h4>
<p>_____________________________Observable Component Start___________________________________</p>
<app-observable></app-observable>
<p>_____________________________Observable Component End____________________________________</p>
<p>_____________________________Subject Component End _______________________________________</p>