<ul class="nav nav-tabs">
    <li class="nav-items" routerLinkActive="active"><a routerLink="/subject">Subject</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/observable">Observable</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/order">Order</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/search">Search</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/userform">Userform</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/left">Left</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/middle">Middle</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/right">Right</a></li>
    <li class="nav-items" routerLinkActive="active"><a routerLink="/httpclient">HttpClient</a></li>
</ul>